.wordle-space{                          
    color: var(--text-color);
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding-top: calc(var(--nav-size)*1);
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--bg);
}
.wordle-space .found{
    background-color: #c9b458;
    border-color: var(--text-color);
    color: var(--text-color);
}
.wordle-space .correct{
    background-color: #538D4E;
    border-color: var(--text-color);
    color: var(--text-color);
}
.wordle-space .wrong {   /* CLASS for wrong letters*/
    background-color: var(--bg-accent);
    border-color: var(--text-color);
    color: var(--text-color);
    
}
.title { /* CLASS for the region containing the Title */
    color: var(--text-color);
    font-size: calc(var(--nav-size)*.5);
    border-bottom: solid min(3px,5vw) var(--bg-accent); 
    height: calc(var(--nav-size)*.6);
}
.guessGrid {
    margin-top: calc(var(--nav-size)*0.2);
    font-size: calc(var(--nav-size) * 0.4);
    justify-content: center;
    align-items: center;
    height: min(400px, avg(300px, 90vw));
    text-align: center;
    width: 100%;
}
.key-guess {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: calc(var(--nav-size) * 0.001) solid var(--bg-accent);
    height: calc(var(--nav-size) * 1.0);
    width: calc(88.2vw / var(--key-guess-count));
    vertical-align: middle;
    color: var(--text-color);
    margin: calc(var(--nav-size) * 0.001);
}
.wordle-answer{
    margin-bottom: calc(var(--nav-size)*.2);
    font-size: calc(var(--nav-size)*.27);
}
.key { /* CLASS for the keyboard buttons */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.0vw;
    border-radius: calc(var(--nav-size)*.1);
    background-color: var(--text-color-inv);
    color: var(--text-color);
    padding: 2.1vw;
    margin: calc(var(--nav-size)*.01);
    cursor: pointer;
    vertical-align: middle;
    min-width: 9.5vw;
    height: calc(var(--nav-size) * 0.9);
    border: calc(var(--nav-size)*.001) solid var(--bg-accent);
}
.key:hover{
    background-image: radial-gradient( rgb(100, 100, 100) .1%, transparent );
}
.keyboard { /* CLASS for the region containing the keyboard */
    margin-top: calc(var(--nav-size)*.1);
    font-size: calc(var(--nav-size)*.6);
    display: block;
    text-align: center;
    width: 100%;
}
.keyboard-div2{
    display:inline;
}
.credits { /* CLASS for the region containing the Thank you for visiting */
    margin-top: min(20px,4vw);
    color: var(--text-color);
    font-size: calc(var(--nav-size)*.2);
}
.automate { /* CLASS for the region containing the REVEAL SOLUTION button */
    margin-top: min(10px,4vw);
    color: var(--text-color);
    font-size: calc(var(--nav-size)*.26);
    text-align: center;
}
#automate-newBut{
    font-size: calc(var(--nav-size)*.26);
    vertical-align: middle;
    cursor: pointer;
    width: calc(var(--nav-size)*2);
    height: calc(var(--nav-size)*.55);
    color: var(--text-color);
    background-color: var(--text-color-inv);
    border: calc(var(--nav-size)*.001) solid var(--bg-accent);
}
#automate-newBut:hover{
    background-image: radial-gradient( rgb(100, 100, 100) .1%, transparent );
}
#automate-solutionBut{
    width: calc(var(--nav-size)*2.5);
    height: calc(var(--nav-size)*.55);
    font-size: calc(var(--nav-size)*.26);
    vertical-align: bottom;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--text-color-inv);
    border: calc(var(--nav-size)*.001) solid var(--bg-accent);
}
#automate-solutionBut:hover{
    background-image: radial-gradient( rgb(100, 100, 100) .1%, transparent );
}
#automate-settingBut{
    font-size: calc(var(--nav-size)*.36);
    vertical-align: middle;
    cursor: pointer;
    height: calc(var(--nav-size)*.55);
    width: calc(var(--nav-size)*.6);
    color: var(--text-color);
    background-color: var(--text-color-inv);
    border: calc(var(--nav-size)*.001) solid var(--bg-accent);
}
#automate-settingBut:hover{
    background-image: radial-gradient( rgb(100, 100, 100) .1%, transparent );
}
#automate-solverbut{
    margin-top: calc(var(--nav-size)*.2);
    font-size: calc(var(--nav-size)*.25);
    vertical-align: middle;
    cursor: pointer;
    height: calc(var(--nav-size)*.4);
    color: var(--text-color);
    background-color: var(--text-color-inv);
    border: calc(var(--nav-size)*.001) solid var(--bg-accent);
}
#automate-solverbut:hover{
    filter: brightness(1.2);
}
.settingMenu{ /* CLASS for the region containing the settings */
    margin-top: calc(var(--nav-size)*.1);
    padding: min(10px,4vw);
    text-align: center;
    font-size: calc(var(--nav-size)*.2);
    border: calc(var(--nav-size)*.001) dashed var(--text-color);
}
#settingMenu-text{  /* CLASS for the region containing the settings input */
    font-size: calc(var(--nav-size)*.2);
    padding: calc(var(--nav-size)*.05);
    text-align: center;
    font-weight: bolder;
    width: calc(var(--nav-size)*.3);
    height: calc(var(--nav-size)*.15);
    margin-left: calc(var(--nav-size)*.1);
    vertical-align: bottom;
}
@media (orientation: landscape) {
    .title { /* CLASS for the region containing the Title */
        font-size: calc(var(--nav-size)*.4);
        height: calc(var(--nav-size)*.5);
    }
    .keyboard { /* CLASS for the region containing the keyboard */
        font-size: calc(var(--nav-size)*.2);
    }
    .key { /* CLASS for the keyboard buttons */
        font-size: calc(var(--nav-size)*.2);
        padding: calc(var(--nav-size)*.19);
        margin: calc(var(--nav-size)*.001);
        min-width: calc(var(--nav-size)*.50);
    }
    .guessGrid {
        width: 50%;
    }
    .key-guess {
        width: calc(44.2vw / var(--key-guess-count));
    }
    .wordle-answer{
        font-size: calc(var(--nav-size)*.2);
    }
    #automate-newBut{
        font-size: calc(var(--nav-size)*.2);
        width: calc(var(--nav-size)*2);
        height: calc(var(--nav-size)*.45);
    }
    #automate-solutionBut{
        font-size: calc(var(--nav-size)*.2);
        width: calc(var(--nav-size)*2);
        height: calc(var(--nav-size)*.45);
    }
    #automate-settingBut{
        font-size: calc(var(--nav-size)*.3);
        height: calc(var(--nav-size)*.45);
    }
    #automate-solverbut{
        margin-top: calc(var(--nav-size)*.05);
        font-size: calc(var(--nav-size)*.2);
        /* width: calc(var(--nav-size)*2); */
        height: calc(var(--nav-size)*.45);
    }
}