.containerq{ /* Container CLASS */
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  height: max(calc(var(--nav-size)*7),100%);
  flex-direction: column;
  padding-top: calc(var(--nav-size)*2);
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-left: calc(var(--nav-size)*.2);
  padding-right: calc(var(--nav-size)*.2);
  background-color: var(--bg);   /* This is deleted when copied to Weebly. Background needs to be transparent. */
}
    
#title{  /* Title ID */
  font-size: calc(var(--nav-size)*.4);
  font-weight: bold;
  text-align: center;
}
    
#description{  /*description ID*/
  font-size: calc(var(--nav-size)*.25);
  margin-top: calc(var(--nav-size)*1);
  margin-bottom: calc(var(--nav-size)*.5);
}
  
#instruction{  /*instruction ID*/
  font-size: calc(var(--nav-size)*.25);
  margin-top: calc(var(--nav-size)*.15);
}
    
#inputs{  /*input ID*/
  background-color: var(--bg);     
}
    
#inputTEXT{  /* This is the textbox ID */
  text-align: center;
  font-size: calc(var(--nav-size)*.25);
  color: rgb(0, 0, 0);
  width: calc(var(--nav-size)*3);
  height: calc(var(--nav-size)*.4);
}
    
#button{  /*button ID*/  
  text-align: center;
  padding: calc(var(--nav-size)*.05);
  padding-left: calc(var(--nav-size)*.2);
  padding-right: calc(var(--nav-size)*.2);
  font-size: calc(var(--nav-size)*.45);
  border-radius: calc(var(--nav-size)*.1);  
}
    
#output{  /*output ID*/
  margin-top: calc(var(--nav-size)*.15);
  text-align: center;
  inline-size: min(1450px,80vw);
}