.admin-table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.admin-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--bg-1);
  color: var(--text-color);
  border: var(--nav-size)*.01 solid var(--text-color);
}

.admin-table thead {
  background-color: var(--bg-2);
  color: var(--text-color);
}

.admin-table th,
.admin-table td {
  padding: 8px;
  border: var(--nav-size)*.01 solid var(--text-color);
  text-align: left;
  word-wrap: break-word;
}

.admin-table th {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.admin-table tbody tr:nth-child(even) {
  background-color: var(--bg-mint);
}

.admin-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bg-1);
  color: var(--text-color);
  font-size: calc(var(--nav-size) * 0.2);
}

.table-scroll-container {
  max-height: 90vh;
  overflow-y: auto;
}

.sortable-header {
  cursor: pointer;
  position: relative;
}

.sortable-header.asc::after {
  content: "▲";
  position: absolute;
  right: 5px;
  font-size: 0.8em;
}

.sortable-header.desc::after {
  content: "▼";
  position: absolute;
  right: 5px;
  font-size: 0.8em;
}
