#set-height{
    display: block;
}
/* setHeight.style.height = Math.floor(vid.duration) * playbackConst + "px"; */
/* .videoHome{

} */
#video1{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    background-color: var(--bg);
}
@font-face {
    font-family: 'CutiveMono-Regular';
    src: url(./../../fonts/CutiveMono-Regular.ttf) format('truetype'),
    url(./../../fonts/CutiveMono-Regular.woff) format('woff');
}
.content{
    position: sticky;
    height: calc(var(--nav-size)*2.5);
    z-index: -1;

}

.section-tile{
    font-family: 'CutiveMono-Regular';
    font-weight: calc(var(--nav-size)*5);
    z-index: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.72);
}

.container-scroll{
    min-height: 100vh;
}
#content-title{
    padding-left: calc(var(--nav-size)*.8);
    padding-right: calc(var(--nav-size)*.6);
    padding-top: calc(var(--nav-size)*4);
    color: white;
    font-weight: bold;
}
#text-title{
    text-align: center;
    font-size: calc(var(--nav-size)*.4);
    border-radius: 1%;
    padding: calc(var(--nav-size)*.1);
    text-shadow: calc(var(--nav-size)*.045) calc(var(--nav-size)*.04) black;
}
#text-body{
    font-size: calc(var(--nav-size)*.28);
    border-radius: 1%;
    padding: calc(var(--nav-size)*.15);
    text-shadow: calc(var(--nav-size)*.045) calc(var(--nav-size)*.04) black;
}
#text-subtext{
    font-weight:normal;
    font-size: calc(var(--nav-size)*.25);
    border-radius: 1%;
    padding: calc(var(--nav-size)*.15);
    text-shadow: calc(var(--nav-size)*.045) calc(var(--nav-size)*.04) black;
}
.content-shadow{
    background-color: rgba(0, 0, 0, 0.6);
}
#content-p1{
padding-bottom: calc(var(--nav-size)*.6);
}
#content-p2{
    padding-top: calc(var(--nav-size)*.5);
    padding-left: calc(var(--nav-size)*.8);
    padding-right: calc(var(--nav-size)*.6);
    font-size: calc(var(--nav-size)*.4);
    color: white;
    font-weight: bold;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.6);
}
#content-p3{
    text-align: center;
    padding-top: calc(var(--nav-size)*1);
    padding-left: calc(var(--nav-size)*.8);
    padding-right: calc(var(--nav-size)*.6);
    font-size: calc(var(--nav-size)*.4);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}
#content-p4{
    text-align: center;
    padding-top: calc(var(--nav-size)*.5);
    padding-left: calc(var(--nav-size)*.8);
    padding-right: calc(var(--nav-size)*.6);
    font-size: calc(var(--nav-size)*.4);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}
#content-p5{
    padding-top: calc(var(--nav-size)*.5);
    text-align: center;
    padding-left: calc(var(--nav-size)*.8);
    padding-right: calc(var(--nav-size)*.6);
    font-size: calc(var(--nav-size)*.4);
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
}
.fade-in{
    transition: opacity .5s ease;
}
.fade-out{
    opacity: 0;
    transition: opacity .5s ease;
}
.content-button{
    text-align: center;
    color: white;
    font-weight: bold;
}
#content-button{
    font-family: 'CutiveMono-Regular';
    color: white;
    font-size: calc(var(--nav-size)*.28);
    padding: calc(var(--nav-size)*.06);
    width: calc(var(--nav-size)*4);
    margin-top: calc(var(--nav-size)*.1);
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border-radius: 3%;
    font-weight: bold;
}#content-button:hover{
    background-color: var(--bg);
    border-radius: 3%;
}