.contact-space{
    padding-left: calc(var(--nav-size)*0.81);
    padding-right: calc(var(--nav-size)*0.81);
    padding-top: calc(var(--nav-size)*1);
    background-color: var(--bg);
    color: white;
    /* height: calc(var(--nav-size)*11); */
}

.contact-title{
    font-size: calc(var(--nav-size)*.8);
}
.contact-name{
    font-size: calc(var(--nav-size)*.32);
}
.contact-email{
    font-size: calc(var(--nav-size)*.30);
}
.contact-body{
    font-size: calc(var(--nav-size)*.4);
    margin-top: calc(var(--nav-size)*.2);
}
.contact-social{
    display: inline-block;
    border-radius: 5%;
}
.contact-linkedin{
    width: calc(var(--nav-size)*1.5);
    border-radius: 5%;
    cursor: pointer;
}
.contact-github{
    width: calc(var(--nav-size)*2.15);
    border-radius: 5%;
    cursor: pointer;
}
.contact-input-text{
    margin-left: calc(var(--nav-size)*.3);
}
.contact-link-div{
    margin-bottom: calc(var(--nav-size)*2.15);
}
#contact-link{
    font-size: calc(var(--nav-size)*.36);
    color: white;
    background-color: #222629;
    padding: calc(var(--nav-size)*.06);
    border-radius: 10%;
    display: inline;
    cursor: pointer;
    margin-left: calc(var(--nav-size)*.6);
    margin-top: calc(var(--nav-size)*.2);
}
#contact-link:hover{
    filter: brightness(1.2);
}
#contact-link:active{
    background-color: #910b0b;
}
.contact-input{
    display: block;
    width: 70%;
    height: calc(var(--nav-size)*.7);
    border-style: groove;
    font-size: calc(var(--nav-size)*.3);
    margin: calc(var(--nav-size)*.2);
}
