.alcohol{
    padding-top: calc(var(--nav-size)*1);
    background-color: var(--bg);
    color: white;
}
.alcohol-title{
    padding-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.5);
}
.alcohol-description{
    padding-left: calc(var(--nav-size)*.75);
    padding-right: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
}
.alcohol-col{
    text-align: left;
    vertical-align: top;
    display: inline-block;



    width: calc(var(--nav-size)*6);
}
.alcohol-niaaa{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
}
#alcohol-niaaa-img{
    width: 95%;
}
.alcohol-calculator-title{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.5);
}
.alcohol-calculator-input-title{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
}