.planit-settings {
    padding-top: calc(var(--nav-size)*1);
    min-height: 87vh;
    background-color: var(--background-color);
    padding: calc(var(--nav-size)*0.2);
    border-radius: calc(var(--nav-size)*0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planit-settings-title {
    color: var(--text-color);
    font-size: calc(var(--nav-size)*0.5);
    padding-top: calc(var(--nav-size)*0.3);
    text-align: center;
    margin-bottom: calc(var(--nav-size)*1);
}

.planit-settings-table {
    padding-top: calc(var(--nav-size)*0.2);
    text-align: left;
    border: 1px solid var(--text-color);
    padding: calc(var(--nav-size)*0.2);
    margin: calc(var(--nav-size)*0.1);
    background-color: var(--background-color-alt);
    border-radius: calc(var(--nav-size)*0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planit-settings-table h2 {
    color: var(--text-color);
    font-size: calc(var(--nav-size)*0.4);
    margin-bottom: calc(var(--nav-size)*0.5);
}

.planit-settings-table table {
    width: 100%;
    border-collapse: collapse;
}

.planit-settings-table tr {
    border-bottom: 1px solid var(--text-color); /* Add border to each row */
}

.planit-settings-table tr:last-child {
    border-bottom: none; /* Remove border from the last row */
}

.planit-settings-table td {
    color: var(--text-color);
    font-size: calc(var(--nav-size)*0.25);
    padding: calc(var(--nav-size)*0.2);
    display: flex; /* Add flex display */
    align-items: center; /* Vertically align items */
    border-bottom: none; /* Remove border from td */
}

.planit-settings-table input[type="text"],
.planit-settings-table input[type="email"],
.planit-settings-table input[type="tel"],
.planit-settings-table select,
.planit-settings-table input[type="checkbox"] {
    margin-left: auto; /* Push elements to the right */
}

/* Adjustments for checkbox alignment */
.planit-settings-table input[type="checkbox"] {
    margin-right: 0; /* Remove default right margin */
}

/* Style for checkbox labels to improve alignment */
.planit-settings-table label {
    display: flex;
    align-items: center;
}

.planit-settings-table label input[type="checkbox"] {
    margin-right: 5px; /* Add some spacing between checkbox and label */
}

/* Add some styling for the color inputs */
.planit-settings-table input[type="color"] {
    width: 50px;
    height: 30px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    margin-left: auto;
    cursor: pointer;
}

.planit-settings-auth {
    padding-top: calc(var(--nav-size)*2);
    text-align: center;
    display: block;
    margin-top: calc(var(--nav-size)*2);
}

.planit-settings-auth-button {
    padding: calc(var(--nav-size)*0.2) calc(var(--nav-size)*0.4);
    border: 1px solid var(--text-color);
    font-size: calc(var(--nav-size)*0.3);
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    width: calc(var(--nav-size)*3);
    border-radius: calc(var(--nav-size)*0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.planit-settings-auth-button:hover {
    border-color: var(--text-color-hover);
    box-shadow: 0 0 5px var(--text-color-hover);
    background-color: var(--text-color-hover);
    color: var(--text-color-inv);
}
