@font-face {
    font-family: 'CutiveMono-Regular';
    src: url(./../../fonts/CutiveMono-Regular.ttf) format('truetype'),
    url(./../../fonts/CutiveMono-Regular.woff) format('woff');
}
.footer-space{
    /* padding-top: calc(var(--nav-size)*5.5); */
    font-family: 'CutiveMono-Regular';
    font-weight: bold;
    z-index: -500000000;
    color: white;
    font-size: calc(var(--nav-size)*0.21);
    text-align: center;
    padding-bottom: calc(var(--nav-size)*.5);
    background-color: var(--bg);
    /* height: calc(var(--nav-size)*7); */
}
.footer-space-transparent{
    padding-top: calc(var(--nav-size)*5.5);
    font-family: 'CutiveMono-Regular';
    font-weight: bold;
    z-index: -500000000;
    color: rgb(0, 0, 0);
    font-size: calc(var(--nav-size)*0.21);
    text-align: center;
    padding-bottom: calc(var(--nav-size)*.5);
    background-color: transparent;
}