.ethanol{
    padding-top: calc(var(--nav-size)*1);
    background-color: var(--bg);
    color: white;
}
.ethanol-title{
    padding-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.5);
}
.ethanol-description{
    padding-left: calc(var(--nav-size)*.75);
    padding-right: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
}
.ethanol-col1{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 45%;
    padding: calc(var(--nav-size)*.5);
}
.ethanol-col2{

    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 35%;
    border-style: groove;
    margin: calc(var(--nav-size)*.75);
}

.ethanol-niaaa{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
}
#ethanol-niaaa-img{
    width: 95%;
}
.ethanol-calculator-title{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.5);
}
.ethanol-calculator-input-title{
    margin-top: calc(var(--nav-size)*.5);
    margin-left: calc(var(--nav-size)*.75);
    font-size: calc(var(--nav-size)*.2);
    display: inline-block;
    vertical-align: top;
}
#ethanol-calculator-input{
    max-width: 30%;
    margin-left: calc(var(--nav-size)*.2);
    vertical-align: middle;
    font-size: calc(var(--nav-size)*.2);
}

.ethanol-calculator-dropdown{
    display: inline-block;
    text-align: center;
    font-size: calc(var(--nav-size)*.15);
    vertical-align: middle;
    width: 20%;
}

#ethanol-calculator-submit{

}
.ethanol-col3{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: calc(var(--nav-size)*6);

}

.ethanolvisual{
    color: white;
    font-size: calc(var(--nav-size)*.3);
}
.ethanolvisual-circles{
    /* background-color: aqua; */
    width: calc(var(--nav-size)*.3);
    margin-left: 1px;
    border-radius: 50%;
    display: inline-block;
    word-wrap: break-word;
}
.CircularProgressbar .CircularProgressbar-trail{
    stroke: red;
}
.CircularProgressbar .CircularProgressbar-path{
    stroke: red;
}