.planit-space{
    background-color: var(--bg);
}
.planit-navbar{
    display: block;
}
#planit-navbar-logo{
    width: calc(var(--nav-size)*1.5);
}
.planit-title{
    font-size: calc(var(--nav-size)*.5);
}