body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body, html {
  height: 100%;
  margin: 0;
}
:root {
  --border: 1px solid rgb(53, 53, 53);
  --border-radius: 8px;
  --speed: 500ms;
  font-size: calc(var(--nav-size) * 0.81);
}
@media (orientation: landscape) {
  :root{
  --nav-size: min(6.5vw,7.5svh);
  }
}
@media (orientation: portrait) {
  :root{
    --nav-size: calc( min( 18vw, 9svh ) * 0.775 );
    --toastify-toast-width: 99% !important;
    --toastify-toast-max-height: calc(var(--nav-size)*10) !important;
    --toastify-toast-min-height: calc(var(--nav-size)*1) !important;
  }
}

.light-theme{
  --bg:rgba(246, 246, 246, 0.5);
  --bg-video:rgba(255, 255, 255, 0.45);
  --bg-accent:rgb(126, 126, 126);
  --text-color:rgb(0, 0, 0);
  --text-color-inv: rgb(246, 246, 246);
  pointer-events:none; 
}
.dark-theme{
  --bg:rgb(53, 53, 53);
  --bg-video:rgba(4, 4, 4, 0.8);
  --bg-accent:rgb(126, 126, 126);
  --text-color:white;
  --text-color-inv: rgb(0, 0, 0);
  pointer-events:none; 
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  color: var(--text-color);
  text-decoration: none;
}